<launch>

  <!-- other args -->
  <arg name="standalone" default="true" />
  <arg name="debug" default="false" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

    <!-- Example manager -->
  <node pkg="nodelet" type="nodelet" name="ExampleManager" args="$(arg nodelet) example_manager/ExampleManager $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

    <rosparam file="$(find example_manager)/config/example_manager.yaml" />
    <rosparam file="$(find example_manager)/config/plugins.yaml" />

      <!-- since plugins are "technically" part of the manager node-->
      <!-- their param files and remaps and handled here -->

    <rosparam ns="example_plugin" file="$(find example_plugins)/config/default.yaml" />

    <rosparam ns="example_plugin_2" file="$(find example_plugins)/config/non_default.yaml" />

  </node>

</launch>
